<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="阿里妈妈导单"></add>
    <add key="Version" value="1.3.0"></add>
    <add key="importUrl" value="http://trade.aikbao.com/Index/Alimama/importTradesNewTrade?"/>
  </appSettings>
<system.net>
  <connectionManagement>
      <add address = "*" maxconnection = "500" />
  </connectionManagement>
</system.net>
</configuration> 
